.hidden{
	display: none;
}
.body {
    font-family: swapHelvetica, Arial, sans-serif;
	text-decoration: none;
 }

.container {
    max-width: 1200px;
    margin: auto;
 }

.grid-main {
	display: grid;
	grid-template-columns: repeat(12, 87px);
	grid-column-gap: 11px;
	padding-left: 17px;
	padding-right: 17px;
}

#header-cot {
	background-color: black;
}

.main-flex {
	display: flex;
	height: 100px;
	padding: 20px;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

img{
	width: 180px;
}

a{
	color: white;
	font-size: 35px;
	text-decoration: none;
}



